$white: #ffffff;
$text: #2b546a;
$bg-color: #f0f5fc;
$ninja-black: #2d4961;
$btn: #ffb520;
$btn-hover: #f0a000;
$html: #1bd7cf;
$html-hover: #00c4bb;
$javascript: #ffe400;
$javascript-hover: #e8cd00;
$php: #c9b9ee;
$php-hover: #a493cc;
$ruby: #ff768a;
$ruby-hover: #f25a71;
$shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
