@import "variables";

@mixin lesson-card {
	width: 23%;
	margin: 0 4px;
	padding: 40px 0;
	display: inline-block;
	background-color: $white;
	border-radius: 3px;
	box-shadow: $shadow;
	img {
		width: 88px;
		margin: 10px auto 0;
		display: block;
	}
	a {
		height: 31px;
		width: 136px;
		margin-top: 16px;
		padding-top: 13px;
		display: inline-block;
		border-radius: 50px;
		box-shadow: $shadow;
		font-size: 11px;
		color: $white;
	}
}



body {
	background-color: $bg-color;
  	font-family: "Hiragino Kaku Gothic ProN";
}

header {
	width: 100%;
	background-color: $ninja-black;
	padding: 10px 16px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: $white;
	text-align: center;
}


.profile-wrapper {
	width: 320px;
	margin: 48px auto 0;
	padding: 28px 24px;
	background-color: $white;
	border-radius: 3px;
	box-shadow: $shadow;
	text-align: center;
	img {
		height: 72px;
		width: 72px;
		display: inline-block;
	}
	.profile-info {
		margin-top: 6px;
		h2 {
			margin: 0 0 0 2px;
			font-size: 16px;
			font-weight: bold;
			color: $text;
		}
		p {
			font-size: 12px;
			color: $text;
		}
		a {
			height: 29px;
			width: 160px;
			margin-top: 16px;
			padding-top: 11px;
			display: inline-block;
			background-color: $btn;
			border-radius: 3px;
			font-size: 11px;
			color: $white;
			text-align: center;
			box-shadow: $shadow;
			text-decoration: none;
			&:hover {
				background-color: $btn-hover;
			}
		}
	}
}

.study-wrapper {
	margin-top: 36px;
	.heading {
		padding-left: 10px;
		text-align: center;
		img {
			height: 12px;
			width: 12px;
			display: inline-block;
		}
		h2 {
			display: inline-block;
			font-size: 16px;
			color: $text;
		}
	}
	.lessons {
		margin-top: 16px;
		text-align: center;
		.html {
			@include lesson-card;
			h4 {
				color: $html;
			}
			a {
				background-color: $html;
				&:hover {
					background-color: $html-hover;
				}
			}
		}
		.javascript {
			@include lesson-card;
			h4 {
				color: $javascript;
			}
			a {
				background-color: $javascript;
				&:hover {
					background-color: $javascript-hover;
				}
			}
		}
		.php {
			@include lesson-card;
			h4 {
				color: $php;
			}
			a {
				background-color: $php;
				&:hover {
					background-color: $php-hover;
				}
			}
		}
		.ruby {
			@include lesson-card;
			h4 {
				color: $ruby;
			}
			a {
				background-color: $ruby;
				&:hover {
					background-color: $ruby-hover;
				}
			}
		}
	}
}

footer {
	// position: absolute;
	width: 100%;
	// bottom: 0;
	margin: 64px 0 0 0;
	padding: 15px 0;
	background-color: $white;
	text-align: center;
	box-shadow: $shadow;
	font-size: 11px;
	color: $text;
}
