body {
  background-color: #f0f5fc;
  font-family: "Hiragino Kaku Gothic ProN"; }

header {
  width: 100%;
  background-color: #2d4961;
  padding: 10px 0;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center; }

.profile-wrapper {
  width: 100%;
  padding: 64px 0;
  background-color: #ffffff;
  text-align: center; }
  .profile-wrapper .profile-info p {
    font-size: 12px;
    color: #2b546a; }
  .profile-wrapper .profile-info a {
    height: 29px;
    width: 160px;
    margin-top: 16px;
    padding-top: 11px;
    display: inline-block;
    background-color: #ffb520;
    border-radius: 3px;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 0 3px #f0a000;
    box-shadow: 0 3px #f0a000;
    text-decoration: none;
    position: relative; }
    .profile-wrapper .profile-info a:hover {
      top: -2px;
      -webkit-box-shadow: 0 5px #f0a000;
      box-shadow: 0 5px #f0a000; }
    .profile-wrapper .profile-info a:active {
      top: 2px;
      -webkit-box-shadow: none;
      box-shadow: none; }

.study-wrapper {
  margin-top: 36px;
  padding-left: 10px;
  text-align: center; }
  .study-wrapper h2 {
    display: inline-block;
    font-size: 16px;
    color: #2b546a; }
  .study-wrapper .lessons {
    margin-top: 16px;
    text-align: center; }
    .study-wrapper .lessons .html {
      width: 23%;
      margin: 0 4px;
      padding: 40px 0 64px;
      display: inline-block;
      background-color: #ffffff;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12); }
      .study-wrapper .lessons .html img {
        width: 88px;
        margin: 8px auto 24px;
        display: block; }
      .study-wrapper .lessons .html a {
        color: #ffb520;
        font-size: 16px; }
        .study-wrapper .lessons .html a:hover {
          color: #bb820f; }
      .study-wrapper .lessons .html h4 {
        color: #1bd7cf; }
    .study-wrapper .lessons .javascript {
      width: 23%;
      margin: 0 4px;
      padding: 40px 0 64px;
      display: inline-block;
      background-color: #ffffff;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12); }
      .study-wrapper .lessons .javascript img {
        width: 88px;
        margin: 8px auto 24px;
        display: block; }
      .study-wrapper .lessons .javascript a {
        color: #ffb520;
        font-size: 16px; }
        .study-wrapper .lessons .javascript a:hover {
          color: #bb820f; }
      .study-wrapper .lessons .javascript h4 {
        color: #ffe400; }
    .study-wrapper .lessons .ruby {
      width: 23%;
      margin: 0 4px;
      padding: 40px 0 64px;
      display: inline-block;
      background-color: #ffffff;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12); }
      .study-wrapper .lessons .ruby img {
        width: 88px;
        margin: 8px auto 24px;
        display: block; }
      .study-wrapper .lessons .ruby a {
        color: #ffb520;
        font-size: 16px; }
        .study-wrapper .lessons .ruby a:hover {
          color: #bb820f; }
      .study-wrapper .lessons .ruby h4 {
        color: #ff768a; }

footer {
  width: 100%;
  margin: 64px 0 0 0;
  padding: 15px 0;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  font-size: 11px;
  color: #2b546a; }
